@{
    ViewBag.Title = "Add Teacher";
}




<form id="AddTeacher" name="AddTeacher" method="post" action="">
    <div class="form_description">
        <p>Fill up below form to add a new Teacher.</p>
    </div>
    <fieldset>

        <label>First Name:</label>
        <input type="text" name="FirstName" value="" placeholder="Enter First Name..."><br>
        <label>Last Name:</label>
        <input type="text" name="LastName" value="" placeholder="Enter Last Name..."><br>
        <label>Designation:</label>
        <input type="text" name="Designation" value="" placeholder="Enter Designation of the Teacher..."><br>
        <label>Contact Number:</label>
        <input type="text" name="ContactNo" value="" placeholder="Enter Contact Number of the Teacher..."><br>

        <label>Profile Picture:</label>
        <input type="file" name="ProfilePic"> <br>
    </fieldset>

    <fieldset>

        <label>Email:</label>
        <input type="text" name="Email" value="" placeholder="abc@domain.com"><br>
        <label>Password:</label>
        <input type="password" name="Password" value="123456"><br>
    </fieldset>
    <br>
    <input type="submit" class="btn btn-default" value="Add Teacher">
</form>


