
@{
    ViewBag.Title = "Change Password";
}

<form id="ChangePassword" name="ChangePassword" method="post" enctype="multipart/form-data" onsubmit="return AjaxPost(this)">
    <fieldset>
        <label>Create New Password:</label>
        <input type="password" name="Password" value=""><br>
        <label>Confirm Password:</label>
        <input type="password" name="Password2" value=""><br>
    </fieldset>
    <input type="submit" class="btn btn-default" value="Update">
</form>

<script>
    function AjaxPost(formData) {
        var ajaxConfig = {
            type: "post",
            url: "/Admin/ChangePassword",
            data: new FormData(formData),
            success: function (result) {
                alert(result);
                window.location.href = "/Admin/ChangePassword"
            }
        }
        if ($(formData).attr('enctype') == "multipart/form-data") {
            ajaxConfig["contentType"] = false;
            ajaxConfig["processData"] = false;
        }
        $.ajax(ajaxConfig);
        return false;
    }
</script>