
@{
    ViewBag.Title = "Account Settings";
}


<div class="content">
    <div class="row">
        <div class="col-75">
            <div class="cont">
                <div class="edit">

                    <span class="glyphicon glyphicon-camera"></span>@Html.ActionLink("Change Profile Picture", "ChangePicture", "Admin")

                    @Html.ActionLink("Change Password", "ChangePassword", "Admin")
                    <br />
                </div>

                <form id="UpdateProfile" name="UpdateProfile" method="post" enctype="multipart/form-data" onsubmit="return AjaxPost(this)">
                    <div class="container">
                        <hr>
                        <label for="email"><b>Change first name</b></label>
                        <input type="text" value="Admin" name="FirstName" required>
                        <label for="email"><b>Change last name</b></label>
                        <input type="text" value="User" name="LastName" required>
                        <label for="psw"><b>Change email</b></label>
                        <input type="text" value="admin@campussocialnetwork.com" name="Email" required>
                        <label for="psw-repeat"><b>Change contact number</b></label>
                        <input type="text" value="+923040484117" name="ContactNo" required>
                        <p>
                            <hr>
                            <button type="submit" class="registerbtn">Confirm Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function AjaxPost(formData) {
        var ajaxConfig = {
            type: "post",
            url: "/Admin/UpdateProfile",
            data: new FormData(formData),
            success: function (result) {
                alert(result);
                window.location.href = "/Admin/UpdateProfile"
            }
        }
        if ($(formData).attr('enctype') == "multipart/form-data") {
            ajaxConfig["contentType"] = false;
            ajaxConfig["processData"] = false;
        }
        $.ajax(ajaxConfig);
        return false;
    }
</script>
