@{
    ViewBag.Title = "Home Page";
}

<p>Campus Social Network is a social networking web app designed for Students and Teachers of an institution.</p>
<br />
<p>Campus Social Network is developed using ASP .NET MVC</p>
<ul class="actions">
    <li><a href="#" class="button scrolly">Learn more</a></li>
</ul>